{% extends "master.html" %} {% block title %} Asistencia QR {% endblock %} {% block content %} {% if request.user.is_authenticated %}
<section style="background-color: #eeee">
  <div class="row" data-usuario="{{user}}" id="div">
    <div class="col">
      <div style="width: 500px" id="reader"></div>
    </div>
    <div class="col" style="padding: 30px">
      <!-- <h4>Resultado de Escaneo</h4> -->
      <div>
        <!-- <h4 id="resultado">hola</h4> -->
      </div>
    </div>
  </div>
</section>
{% endif %} {% load static %}
<!-- JavaScript -->
<script type="text/javascript" src="{% static 'js/QR/qr.js'%}"></script>
<script type="text/javascript" src="{% static 'js/QR/escanearQR.js'%}"></script>
{% endblock %}
