{% extends "master.html" %}

{% block title %}
Nuevo Usuario
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
{% if request.user.perfil.rol == "admin" or request.user.perfil.rol == "RH" %}

<section style="background-color: #eeee">

    <div class="container py-4">
        <div class="col-lg-12">
            <div class="card mb-8">
                <div class="col-md-12 px-3 py-3">

                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 px-5 py-3">

                        <form action="/guardar_nuevo_usuario/" method="POST" , id="form" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mb-0" style="font-size: 25px;">Crear nuevo usuario</p>
                            </div>

                            <!-- Foto de usuario -->
                            <div class="form-outline mb-2">
                                <label>Foto:</label>
                                <!-- <label id="e_usuario"></label> -->
                                <input onchange="previewImage();" type="FILE" name="imagen" id="imagen" class="form-control form-control-sm" accept="image/*">
                                <img id="preview" style="max-width: 150px;">
                            </div>

                            <!-- Nombre de Usuario -->
                            <div class="form-outline mb-2">
                                <label for="usuario">Nombre de Usuario:</label>
                                <label id="e_usuario"></label>
                                <input type="text" name="usuario" id="usuario" class="form-control form-control-sm" data-usuarios="{{ lista_usuarios }}" placeholder="Coloca usuario" required>
                            </div>

                            <!-- Nombre -->
                            <div class="form-outline mb-2">
                                <label for="nombre">Nombre:</label>
                                <label id="e_nombre"></label>
                                <input type="text" name="nombre" id="nombre" class="form-control form-control-sm" placeholder="Coloca el nombre" required>
                            </div>

                            <!-- Apellidos -->
                            <div class="form-outline mb-2">
                                <label for="apellidos">Apellidos:</label>
                                <label id="e_apellidos"></label>
                                <input type="text" name="apellidos" id="apellidos" class="form-control form-control-sm" placeholder="Coloca uno o dos apellidos" required>
                            </div>

                            <!-- Contraseña -->
                            <!-- <div class="form-outline mb-2">
                                <label for="contrasena">Contraseña:</label>
                                <label id="e_contrasena"></label>
                                <input type="password" name="contrasena" id="contrasena" class="form-control form-control-sm" placeholder="Al menos de 8 caracteres" required>
                            </div> -->

                            <!-- Corre de Usuario -->
                            <div class="form-outline mb-2">
                                <label for="correo">Correo de Usuario:</label>
                                <label id="e_correo"></label>
                                <input type="text" name="correo" id="correo" class="form-control form-control-sm" placeholder="Coloca el correo" required>
                            </div>

                            <!-- Telefono -->
                            <div class="form-outline mb-2">
                                <label for="telefono">Telefono:</label>
                                <label id="e_telefono"></label>
                                <!-- numero de telefono -->
                                <input type="tel" name="telefono" id="telefono" class="form-control form-control-sm" placeholder="A 10 digitos" required>
                            </div>

                            <!-- Fecha de ingreso -->
                            <div class="form-outline mb-2">
                                <label for="fecha_ingreso">Fecha de ingreso:</label>
                                <input type="date" name="fecha_ingreso" id="fecha_ingreso" class="form-control form-control-sm" required>
                            </div>

                            <!-- Fecha de nacimiento -->
                            <div class="form-outline mb-2">
                                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control form-control-sm" required>
                            </div>

                            <!-- Jefe Inmediato -->
                            <div class="form-outline mb-2">
                                <label for="jefe">Jefe Inmediato:</label>
                                <!-- Combobox Javier Gonzalez, Govani Gonzalez, David Gonzalez, Erika Chagolla, Jorge Hernandez, Victor Valdez, Aldo Martinez -->
                                <select name="jefe" id="jefe" class="form-control form-control-sm">
                                    <option value="Javier Gonzalez">Javier Gonzalez</option>
                                    <option value="Govani Gonzalez">Jovani Gonzalez</option>
                                    <option value="David Gonzalez">David Gonzalez</option>
                                    <option value="Erika Chagolla">Erika Chagolla</option>
                                    <option value="Jorge Hernandez">Jorge Hernandez</option>
                                    <option value="Victor Valdez">Victor Valdez</option>
                                    <option value="Aldo Martinez">Aldo Garcia</option>
                                </select>
                            </div>

                            <!-- Area -->
                            <div class="form-outline mb-2">
                                <label for="area">Area:</label>
                                <!-- combobox Administracion, Modulos, Mecanica, Laboratorio -->
                                <select name="area" id="area" class="form-control form-control-sm">
                                    <option value="Administracion">Administracion</option>
                                    <option value="Modulos">Modulos</option>
                                    <option value="Mecanica">Mecanica</option>
                                    <option value="Laboratorio">Laboratorio</option>
                                    <option value="Ventas">Ventas</option>
                                </select>
                            </div>

                            <!-- Dias de vacaciones -->
                            <!-- <div class="form-outline mb-2"> -->
                            <!-- <label for="dias_vacaciones_disp">Dias de vacaciones:</label> -->
                            <!-- numero de dias -->
                            <!-- <input type="number" name="dias_vacaciones_disp" id="dias_vacaciones_disp" class="form-control form-control-sm" required> -->
                            <!-- ganera un combobox de entra del numero 1 al 10 -->
                            <!-- <select name="dias_vacaciones_disp" id="dias_vacaciones_disp" class="form-control form-control-sm">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                    </select> 
                                </div> -->

                            <!-- Role -->
                            <div class="form-outline mb-2">
                                <label for="rol">Role:</label>
                                <!-- combobox Empleado, Supervisor, Gerente, Director, Dueño, RH-->
                                <select name="rol" id="rol" class="form-control form-control-sm">
                                    <option value="Empleado">Empleado</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Gerente">Gerente</option>
                                    <option value="Director">Director</option>
                                    <option value="Dueño">Dueño</option>
                                    <option value="RH">RH</option>
                                </select>
                            </div>

                            <!-- semana -->
                            <div class="form-outline mb-2">
                                <label for="semana">Semana:</label>
                                <!-- combobox Normal, Inglesa -->
                                <select name="semana" id="semana" class="form-control form-control-sm">
                                    <option value="Normal">Normal</option>
                                    <option value="Inglesa">Inglesa</option>
                                </select>
                            </div>

                            <!-- Submit -->
                            <div class="position-relative pt-5">
                                <input type="button" value="Agregar Usuario" onclick="guardar_usuario()" class="btn btn-primary position-absolute bottom-0 start-50 translate-middle-x">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endif %}
{% endif %}

{% load static %}
<!-- JavaScript -->
<script type="text/javascript" src="{% static 'js/usuarios.js'%}"></script>

{% endblock %}